@media (max-width: 374px){
	header .header-left-column img {
		width: 100%;
	}
	header {
		border-bottom: 1px solid #888;
		margin-bottom: 0;
	}
	footer {
		height: auto;
		line-height: 1em;
		padding: 5px;
		text-align: center;
	}
	.container-fluid.marginb60 {
		margin-bottom: 40px !important;
	}
	.vc_hover img {
		height: 86px;
		margin-top: 4%;
		width: 86px;
	}
	.content-wrap aside.quarter-left {
		margin-top: 0;
		width: 100%;
	}
	.grid-item {
		margin-bottom: 6px;
	}
	.grid-item,
	.grid-sizer {
		width: 48%;
	}
	.gutter-sizer {
		width: 2.5%;
	}
	.grid-item.grid-item--width2 { 
		width: 100%;
	}
	.display-work-wrap {
		margin: 0 10px 0;
		width: 95%;
	}
	.isotope {
		margin-left: 3%;
	}
}

@media (min-width: 375px) and (max-width: 627px){
	header .header-left-column img {
		width: 100%;
	}
	header {
		border-bottom: 1px solid #888;
		margin-bottom: 0;
	}
	footer {
		height: auto;
		line-height: 1em;
		padding: 5px;
		text-align: center;
	}
	.container-fluid.marginb60 {
		margin-bottom: 40px !important;
	}
	.vc_hover img {
		height: 86px;
		margin-top: 4%;
		width: 86px;
	}
	.content-wrap aside.quarter-left {
		margin-top: 0;
		width: 100%;
	}
	.display-work-wrap {
		margin: 0 10px 0;
		width: 95%;
	}
	.grid-item,
	.grid-sizer {
		width: 48%;
	}
	.gutter-sizer {
		width: 3%;
	}
	.grid-item.grid-item--width2 { 
		width: 99%;
	}
}

@media (min-width: 628px) and (max-width: 767px) {
	header {
		border-bottom: 1px solid #888;
		margin-bottom: 0;
	}
	header .header-left-column img {
		width: 100%;
	}
	footer {
		height: auto;
		line-height: 1em;
	}
	.close-button {
		font-size: 0.7em;
		min-width: 50px;
		padding: 5px;
	}
	.icon-list {
		padding: 0;
	}
	.container-fluid.marginb60 {
		margin-bottom: 40px !important;
	}
	.vc_hover img {
		height: 104px;
		margin-top: 12%;
		width: 104px;
	}
	.content-wrap aside.quarter-left {
		width: 50%;
	}
	.display-work-wrap {
		margin: 0 10px 0;
		width: 95%;
	}
}
@media (min-width: 768px) and (max-width: 1032px) {
	header {
		padding: 0 15px 0 5px;
	}
	header .header-left-column {
		margin: 0;
		width: 58%;
	}
	header .header-left-column img {
		width: 100%;
	}
	.content-wrap aside.quarter-left {
		width: 40%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {	
	.vc_hover img {
		margin-top: 10%;
	}
}
@media (max-width: 937px){
	#container.grid {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 938px) and (max-width: 1080px){
	#container.grid {
		margin-left: 4%;
		margin-right: 4%;
	}
}